<% provide( :title, 'Game' ) %>
<div class="row">
  <div class="span12">
    <h3>Game</h3>
  </div>
</div>

<div class="row" style="margin-bottom: 12px;">
  <div class="span1">
    <span class="icon" style="margin-bottom: 12px;"></span>
    <div class="clearfix"></div>
    <div class="btn-group">
      <button type="button" class="btn btn-small btn-default"><span class="icon-cog"></span></button>
      <button type="button" class="btn btn-small btn-defaultdropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a id="game-edit" data-game-id="<%= @game.id %>" href="javascript: void(0);">Edit</a></li>
        <li><a id="game-delete" data-game-id="<%= @game.id %>" href="javascript: void(0);">Delete</a></li>
      </ul>
    </div>
  </div>
  <div class="span11">
    <div class="edit-container">
      <div class="edit-label">Name:</div>
      <div class="edit-data"><span id="game-name"><%= @game.name %></span></div>
    </div>
    <div class="edit-container">
      <div class="edit-label">Status:</div>
      <div class="edit-data"><span class="badge" id="game-status"><%= @game.status_title %></span></div>
    </div>
  </div>
</div>

<%= navtab "tab-game" do |navtab| %>
  <% navtab.tab "assignments", "Participants" do %>
    assignments
  <% end %>
  <% navtab.tab "rounds", "Rounds" do %>
    <%= render "games/index/rounds" %>
  <% end %>
  <% navtab.tab "badges", "Badges", active: true do %>
    <%= render "games/index/badges" %>
  <% end %>
  <% navtab.tab "prizes", "Prizes" do %>
    prizes
  <% end %>
  <% navtab.tab "rules", "Rules" do %>
    rules
  <% end %>
  <% navtab.tab "news", "News" do %>
    news
  <% end %>
<% end %>

<%= modal( "dlgGameEdit", "Edit the game", "game/edit" ) do |modal| %>
  <% modal.button "Cancel", :class => "btn btn-default", "data-dismiss" => "modal" %>
  <% modal.button "Save", :class => "btn btn-primary", :onclick => "javascript: $.gaming.dlgGameEdit.ok();" %>
<% end %>

<%= modal( "dlgGameDelete", "Delete the game", "game/delete" ) do |modal| %>
  <% modal.button "Cancel", :class => "btn btn-default", "data-dismiss" => "modal" %>
  <% modal.button "Delete", :class => "btn btn-primary", :onclick => "javascript: $.gaming.dlgGameDelete.ok();" %>
<% end %>
