<% provide( :title, 'Game' ) %>
<div class="row">
  <div class="span12">
    <h3>Game</h3>
  </div>
</div>

<div class="row" style="margin-bottom: 12px;">
  <div class="span1">
    <span class="icon" style="margin-bottom: 12px;"></span>
    <div class="clearfix"></div>
    <div class="btn-group">
      <button type="button" class="btn btn-small btn-default"><span class="icon-cog"></span></button>
      <button type="button" class="btn btn-small btn-defaultdropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a id="game-edit" data-game-id="<%= @game.id %>" href="javascript: void(0);">Edit</a></li>
        <li><a id="game-delete" data-game-id="<%= @game.id %>" href="javascript: void(0);">Delete</a></li>
      </ul>
    </div>
  </div>
  <div class="span11">
    <div class="edit-container">
      <div class="edit-label">Name:</div>
      <div class="edit-data"><span id="game-name"><%= @game.name %></span></div>
    </div>
    <div class="edit-container">
      <div class="edit-label">Status:</div>
      <div class="edit-data"><span class="badge" id="game-status"><%= @game.status_title %></span></div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation">
    <a href="#assignments" role="tab" data-toggle="tab">
      Participants
    </a>
  </li>
  <li role="presentation">
    <a href="#rounds" role="tab" data-toggle="tab">
      Rounds
    </a>
  </li>
  <li role="presentation" class="active">
    <a href="#badges" role="tab" data-toggle="tab">
      Badges
    </a>
  </li>
  <li role="presentation">
    <a href="#prizes" role="tab" data-toggle="tab">
      Prizes
    </a>
  </li>
  <li role="presentation">
    <a href="#rules" role="tab" data-toggle="tab">
      Rules
    </a>
  </li>
  <li role="presentation">
    <a href="#news" role="tab" data-toggle="tab">
      News
    </a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade" id="assignments">
    assignments
  </div>
  <div role="tabpanel" class="tab-pane fade" id="rounds">
    <%= render "games/index/rounds" %>
  </div>
  <div role="tabpanel" class="tab-pane fade in active" id="badges">
    <%= render "games/index/badges" %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="prizes">
    prizes
  </div>
  <div role="tabpanel" class="tab-pane fade" id="rules">
    rules
  </div>
  <div role="tabpanel" class="tab-pane fade" id="news">
    news
  </div>
</div>

<%= modal( "dlgGameEdit", "Edit the game", "game/edit" ) do |modal| %>
  <% modal.button "Cancel", :class => "btn btn-default", "data-dismiss" => "modal" %>
  <% modal.button "Save", :class => "btn btn-primary", :onclick => "javascript: $.gaming.dlgGameEdit.ok();" %>
<% end %>

<%= modal( "dlgGameDelete", "Delete the game", "game/delete" ) do |modal| %>
  <% modal.button "Cancel", :class => "btn btn-default", "data-dismiss" => "modal" %>
  <% modal.button "Delete", :class => "btn btn-primary", :onclick => "javascript: $.gaming.dlgGameDelete.ok();" %>
<% end %>
