<% provide( :title, 'Games' ) %>
<div class="row">
  <div class="span12">
    <h3>Games</h3>
  </div>
</div>

<div class="row" style="margin-bottom: 12px;">
  <div class="span12">
    <div class="btn-group pull-left">
      <button type="button" class="btn btn-default btn-primary" id="games-search-filter-all">
        Все
      </button>
      <button type="button" class="btn btn-default" id="games-search-filter-active">
        Активные
      </button>
      <button type="button" class="btn btn-default" id="games-search-filter-deleted">
        Удаленные
      </button>
    </div>
    <div class="pull-right">
      <button type="button" class="btn btn-default btn-primary" id="games-game-create">
        <span class="glyphicon glyphicon-plus"></span>+ Создать
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="span12">
    Показывать
    <%= select_tag "search-count", options_for_select( %w( 10 25 50 100 ), 10 ), style: "margin: 0 10px; width: 75px;" %>
    строк
    <%= text_field_tag "search-name", "", placeholder: "Поиск", class: "search pull-right", style: "height: 33px; width: 350px;" %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= render "games_grid" %>
  </div>
</div>

<%= modal( "dlgGameCreate", "Создание игры" ) do |block| %>
  <% block.button "Cancel", :class => "btn btn-default", "data-dismiss" => "modal" %>
  <% block.button "Create", :class => "btn btn-primary", :onclick => "javascript: $.gaming.dlgGameCreate.ok();" %>
  <% form_for( Game.new ) do |f| %>
    <%= f.label :name, "Название игры:" %>
    <%= f.text_field :name, errorCss: 'error' %>
  <% end %>
<% end %>

<%= modal( "dlgGameDelete", "Удаление игры" ) do |block| %>
  <% block.button "Cancel", :class => "btn btn-default", "data-dismiss" => "modal" %>
  <% block.button "Delete", :class => "btn btn-primary", :onclick => "javascript: $.gaming.dlgGameDelete.ok();" %>
<% end %>
