<div class="modal hide fade" id="<%= name %>" view="<%= view %>"
<% if title.is_a?(Array) && title.size == 2 then %>
  title-create="<%= title[0] %>"
  title-edit="<%= title[1] %>"
  <% title = title[0] %>
<% end %>
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <div class="modal-body">
      <%= content %>
      </div>
      <div class="modal-footer">
        <% if buttons %>
          <% for button in buttons %>
            <%= button %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
